{
  url: '<URL>',
  username: '<USER>',
  password: '<PASS>',
  boards: {
    # '51' => {
    #   filters: [179, 242, 246, 459],
    #   columns: {
    #     ready: 2,
    #     started: 3,
    #     done: 7
    #   }
    # }
  },

  # Predefined filters for analysis. Currently used to analyze defects.
  filters: {
    'defects_open' => 'type = Bug AND 
                       resolution IS EMPTY OR resolution NOT IN ("Duplicate", "Invalid") AND
                       status != Closed',
  }


}

